.bg-gradient {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.15) 0%,
        rgba(0, 0, 0, 0.15) 100%
      ),
      radial-gradient(
          at top center,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(0, 0, 0, 0.4) 120%
        )
        #989898;
    background-blend-mode: multiply, multiply;
  }
/* Responsive design */
@media (max-width: 768px) {
  .container {
      width: 90%;
      padding: 20px;
  }

  .main {
      width: 100%;
      padding: 20px;
  }

  .password input {
      width: 100%;
  }

  .dependices {
      flex-direction: column;
      align-items: center;
  }

  .dependices label {
      margin-bottom: 10px;
  }
  .gap-5
  {
    gap:0 !important;
  }
}